@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-placeholder::placeholder {
  font-size: 30px; /* Custom font size for placeholder */
  color: #ccc; /* Custom color for placeholder text */
  margin: 50px auto;
  
  
}
.inputMessage input {
  padding: 50px;

}


.applyBox {
  position: relative;
  width: 16%;
  color:white;
  margin-top: 20px;

}

.applyBox input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255, 0.25);
  background-color: #1b2b3a;
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-size: 1em;
}

.applyBox span {
  position: absolute;
  left: 0%;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  text-transform: uppercase;
  transition: 0.5s;
  
}

.applyBox input:valid ~ span ,
.applyBox input:focus ~ span 
{
  color: white;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background-color: #1b2b3a;
  border-left: 1px solid white;
  border-right: 1px solid white;
  letter-spacing: 0.1em;
  
}



.inputbox {
  position: relative;
  width: 16%;
  color: aqua;
  margin-top: 20px;

}

.inputbox input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255, 0.25);
  background-color: #1b2b3a;
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-size: 1em;
}

.inputbox span {
  position: absolute;
  left: 0%;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  text-transform: uppercase;
  transition: 0.5s;
  
}

.inputbox input:valid ~ span ,
.inputbox input:focus ~ span 
{
  color: #00dfc4;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background-color: #1b2b3a;
  border-left: 1px solid #00dfc4;
  border-right: 1px solid #00dfc4;
  letter-spacing: 0.2em;
  
}

.inputbox input:valid ,
.inputbox input:focus  
{
  border: 1px solid #00dfc4;
}

.btn {
  margin-top: 30px;
  margin-left: 0%;
  padding: 10px 25px;
  border: 2px solid rgb(255, 255, 255, 0.25);
  color: white;
  background-color: #1b2b3a;
}

button{
  text-align: center;
  position: relative;
  border: none;
  transition: .4s ease-in;
  z-index: 1;

}
button::before,
button::after{
  position: absolute;
  content: "";
  z-index: -1;
  padding: 1em 3em;
}

.btn:hover{
    border: 2px solid cyan;
    color: #00dfc4;
    background-color: rgb(18, 18, 18);;
}
