@tailwind base;
@tailwind components;
@tailwind utilities;

.contain {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    margin-top: 60px;
    height: 100vh; /* Full viewport height */
}

.content-container {
    display: flex;
    flex: 1; /* Take full height of the container */
    flex-direction: column; /* Align items vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically within the text container */
    align-items: center; /* Center horizontally within the text container */
    text-align: center; /* Center text horizontally within the text container */
}

.iframe-container {
    flex-shrink: 0;
}

.landing-page-header {
    margin-top: 8px;
}

.text-container p {
    color: #0369a1; /* Equivalent to text-sky-700 in Tailwind CSS */
}


.sponsor-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.sponsor-svg {
    max-width: 100%;
    height: auto;
}
