.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #ffffff;
    color: rgba(18, 18, 18, 0.95);
}

.navbar-container .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-container .nav-links {
    display: flex;
    gap: 4rem;


}

.navbar-container .nav-links a {
    color: rgba(221, 111, 64, 1);
    font-family: "Roboto Thin", sans-serif;
;
    text-decoration: none;
}

.navbar-container .nav-links a:hover {
    text-decoration: underline;
}

.navbar-container .hamburger {
    display: none;
    cursor: pointer;
    font-size: 2rem;
}

@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
    }

    .navbar-container .nav-links {
        flex-direction: column;
        width: 100%;
        display: none;
    }

    .navbar-container .nav-links.open {
        display: flex;
    }

    .navbar-container .hamburger {
        display: block;
    }
}