@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {

    background: linear-gradient(150deg, #ffffff, #c3c9f9);
    font-family: 'Latos',Segoe UI,Tahoma,Geneva,Verdana,sans-serif;



  }

.inquiry-card {
    perspective: 1000px;
    transition: transform 0.5s ease-out;
}

.inquiry-card:hover {
    transform: rotateX(0) rotateY(0);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}


















