@tailwind base;
@tailwind components;
@tailwind utilities;


.hero-section{

  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px 20px;
  color: white;
  position: relative;
}

.hexagon {
  width: 250px;
  height: 250px;
  border-color: black;
  background-color: #64C7CC;
  position: relative;
  rotate: -90deg;
  clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
  overflow: hidden;
  margin-top: 150px;
}

.square {

  width: 551px;
  height: 445px;
  border-color: black;
  background-color: #64C7CC;

}



.text-container {
  position: relative;
  overflow: hidden;
}

.hidden-text {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-out, opacity 0.5s ease-out;
}

.text-container:hover .hidden-text {
  max-height: 500px;
  opacity: 1;
}

.render {
  position: relative;
  font-size: 30px;
  line-height: 36px;
  color: transparent;
  -webkit-text-stroke: 0.3vw transparent;
  text-transform: uppercase;
}

.render::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: black;
  -webkit-text-stroke: 0vw transparent;
  
  overflow: hidden;
  white-space: nowrap;
  animation: animate 3s linear forwards;
}

@keyframes animate {
  0% {
    width: 0%;
  }
  20% {
    width: 20%;
  }
  40% {
    width: 40%;
  }
  70% {
    width: 70%;
  }
  100% {
    width: 100%;
  }
}
.logos {
  border: 1px solid transparent;
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  margin-top: 5rem;
  height: 100px;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0,0, 0, 0),
    rgba(0,0, 0, 1) 20%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0)
  );
}

@keyframes slide {
  
  to {
    left: -200px;
  }
}

.logos-slide {
  width: 200px;
  height: 100px;
  background-color: transparent;
  border-radius: 6px;
  position: absolute;
  left: max(calc(200px * 8), 100%);
  animation: slide 30s linear infinite ;

}

.item1 {

  animation-delay: calc(30s / 6 * (6 - 1) * -1);

}
.item2 {
  animation-delay: calc(30s / 6 * (6 - 2) * -1);

}
.item3 {
  animation-delay: calc(30s / 6 * (6 - 3) * -1);

}
.item4 {
  animation-delay: calc(30s / 6 * (6 - 4) * -1);

}
.item5 {
  animation-delay: calc(30s / 6 * (6 - 5) * -1);

}
.item6 {
  animation-delay: calc(30s / 6 * (6 - 6) * -1);

}



.type {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 10px;
  font-family: monospace;
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;

  animation: 
        typing 2s steps(19),
        cursor .4s step-end infinite alternate

}

.about {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 10px;
  font-family: monospace;
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;

  animation: 
        typing 2s steps(19),
        cursor .4s step-end infinite alternate

}

@keyframes typing{
  from { width: 0;}

}

@keyframes cursor {
  50% { border-color: transparent;}
 
}